<!doctype html>
    <html ng-app="SampleModule">
      <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
      </head>
      <body>
        <div ng-init="currentPage = 'home'" ng-controller="SampleController as sample">
		  <div ng-repeat="outlaw in sample.persons | orderBy:'reward'">
		    <h1>{{outlaw.name}}</h1>
		    <h2>{{outlaw.reward | currency}}</h2>
		    <h2>{{outlaw.wanted | lowercase}}</h2>
		    <a href="#">{{outlaw.name}}</a>
		  </div>
		  <div>
		    {{currentPage}}
          </div>
		</div>
      </body>
</html>

